#=========================================================
# Build Outputs
#=========================================================
build/
bin/
target/
dist/
out/
*.war
*.ear
*.jar
*.class

#=========================================================
# Eclipse Metadata (IDE Specific)
#=========================================================
.metadata/
.classpath
.project
.settings/
.recommenders/
*.launch

# If you use the Eclipse Web Tools Platform (WTP)
.navigation/
.deployment/

#=========================================================
# OS & System Files
#=========================================================
Thumbs.db
desktop.ini
.DS_Store

#=========================================================
# Log Files
#=========================================================
*.log
logs/
